.all-products{
    margin-top: 70px;
    width: 100%;
}

.filter{
    min-width: 320px;
}

.sorting-product-view{
    min-width: 554px;
}

@media screen and (max-width: 960px) {
  .filter-menu{
    position: fixed;
    top: 64px;
    left: -320px;
  }
}