.single-product {
  width: 100%;
}

#single-product-card {
  padding: 1rem;
}

#single-product-card .product-image {
  width: 40%;
}

#single-product-card .product-details {
  width: 50%;
}

#single-product-card .product-image img {
  display: block;
  margin: auto;
  width: 80%;
}

.price .price-heading {
  color: var(--primary);
}

.color-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  margin-left: 0.4rem;
  border-radius: 100%;
  font-size: 12px;
  opacity: 0.5;
  border: 2px solid var(--darkmd);
}

.btn-active {
  opacity: 1;
}

.quantity-selector {
  width: fit-content;
  background-color: var(--darklite);
}
 .quantity{
  width: 32px;
 }

.quantity-selector .quantity-btn{
  background-color: var(--light);
}
@media screen and (max-width: 774px) {
  #single-product-card {
    flex-direction: column;
  }

  #single-product-card .product-image,
  #single-product-card .product-details {
    width: 94%;
  }

  #single-product-card .product-image img {
    width: 50%;
  }
}
