@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #6002ee;
  --primarylight: #7e3ff2;
  --primarydark: #3700b3;
  --primaryextralite: #f6efff;
  --dark: #212121;
  --darkmd: #616161;
  --darklite: rgb(219, 219, 219);
  --graytint:#F5F5F5;
  --light: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Globale styles */
.text-gray {
  color: var(--darkmd);
}

.gray-tint{
  background-color: var(--graytint);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.btn {
  padding: 10px;
  color: var(--light);
  text-transform: uppercase;
  background-color: var(--primary);
  font-size: 14px;
  font-weight: bold;
}

.btn:hover {
  background-color: var(--primarydark);
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Balthazar", serif;
}

